@page
@model Cailean_Razvan_Zboruri.Pages.Amenity.DetailsModel
@{
    ViewData["Title"] = "Detalii Facilitate";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm border-0">
            <div class="card-header bg-info text-white">
                <h4 class="mb-0"><i class="fa-solid fa-bell-concierge"></i> Detalii Serviciu</h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">Denumire</dt>
                    <dd class="col-sm-8 fw-bold">@Model.Amenity.Name</dd>

                    <dt class="col-sm-4">Preț</dt>
                    <dd class="col-sm-8">
                        <span class="badge bg-success fs-5">@Model.Amenity.Price €</span>
                    </dd>
                </dl>

                <div class="d-flex justify-content-end gap-2 mt-4">
                    <a asp-page="./Edit" asp-route-id="@Model.Amenity.ID" class="btn btn-warning"><i class="fa-solid fa-pen"></i> Editează</a>
                    <a asp-page="./Index" class="btn btn-secondary">Înapoi</a>
                </div>
            </div>
        </div>
    </div>
</div>